{
  "env": {
    "browser": true,
    "es2021": true
  },
  "globals": {
    "graphql": true,
    "__PATH_PREFIX__": true,
    "__TRAILING_SLASH__": true,
    "__BASE_PATH__": true // this will rarely, if ever, be used by consumers
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": "off"
  }
}
